*{
    margin: 0px auto;
    padding: 0px;
}


#Header{
    width: 100%;
    height: 55px;
    background-color: #ffea00;
    position: fixed;
    top: 0px; 
}

#NavBar{
    margin-right: 120px;
    width:800px;
    height: 45px;
    float:right;	
}

#Footer{
    width: 100%;
    height: 90px;
    background-color: #000000; 
    text-align:center;
    position: absolute;
    left: 0px;
}

#aboutbg{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

#title{
    margin-left: 220px;
    font-size:25px;
    letter-spacing: 2px;
    text-decoration: none;
    color:#1b1b1b;
    font-family:Gotham Regular;
}

a{
    text-decoration: none;
    color:#465159;
    font-variant: small-caps;
    font-family: Gotham Regular;
}

a:hover{
	color:#fbc411;
        text-decoration: strong;
}

ul li{
    float:right;
    list-style: none;
    width: 130px;
    height: 55px;
    text-align: center;
    line-height: 50px;
}

ul li:hover{
    background: #1b1b1b;
    color: #ffea00;
}


p{
	color:white;
	font-family: Helvetica LT Std Light;
}
