*{
    margin: 0px auto;
    padding: 0px;
}


#Header{
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0px; 
}

#NavBar{
    margin-right: 120px;
    width:800px;
    height: 45px;
    float:right;	
}

#Footer{
    width: 100%;
    height: 90px;
    background-color: #0e394d; 
    text-align:center;
    position: absolute;
    left: 0px;
}

#aboutbg{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

#portfoliobg{
    background-color: #0e394d;
    width: 100%;
    height: 100%;

}

#title{
    margin-left: 350px;
    font-size:20px;
    text-decoration: none;
    letter-spacing: 2px;
    color:#1b1b1b;
    font-family: Helvetica LT Std Light;
}

#skill{
    font-family: Helvetica LT Std Light;
    font-size: 20px;
    color: #ffffff;
}

#skilltitle{
    font-family: Gotham Regular;
    font-size: 20px;
    color: #ffffff;
}

hr{
    margin-left: 300px;
    margin-right: 300px;
    background-color: #1b1b1b;
    height: 0.5px;
}

a{
    text-decoration: none;
    font-size:15px;
    color:#17242a;
    font-variant: small-caps;
    font-family: Gotham Regular;
}

a:hover{
	color:#3aafa9;
        text-decoration: strong;
}

ul li{
    float:right;
    list-style: none;
    width: 130px;
    height: 55px;
    text-align: center;
    line-height: 50px;
}

table{
    marging-left: 350px;
    width: 40%;
}
tr td{
    font-family: Helvetica LT Std Light;
    color: #17242a;
    margin-left: 200px;
    width:70%;	
}

tr th{
    font-family: Gotham Regular;
    color: #3aafa9;
    margin-left: 200px;
    width:70%;	
    text-align: left;
}


p{
    font-size: 12px;
    color:white;
    font-family: Helvetica LT Std Light;
}

h1{
    font-size:20px;
    text-decoration: none;
    color:#ffffff;
    font-variant: small-caps;
    font-family: Gotham Regular;
}

h2{
    font-size:20px;
    text-decoration: none;
    color:#1b1b1b;
    font-variant: small-caps;
    font-family: Gotham Regular;
}

h3{
    font-size:15px;
    color:#17242a;
    font-family: Gotham Regular;
}	

$('a[href*="#"]')
  // Remove links that don't actually link to anything
  .not('[href="#"]')
  .not('[href="#0"]')
  .click(function(event) {
    // On-page links
    if (
      location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
      && 
      location.hostname == this.hostname
    ) {
      // Figure out element to scroll to
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
      // Does a scroll target exist?
      if (target.length) {
        // Only prevent default if animation is actually gonna happen
        event.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000, function() {
          // Callback after animation
          // Must change focus!
          var $target = $(target);
          $target.focus();
          if ($target.is(":focus")) { // Checking if the target was focused
            return false;
          } else {
            $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
            $target.focus(); // Set focus again
          };
        });
      }
    }
  });